<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/style.css">
    
    <title>Public Discussion</title>
    <style>

    </style>
</head>
<body>
    <header>
        <div class="header-content">
            <h1 class="title"><a href="/">Public Discussion</a></h1>
            <div class="info">
                <span id="commentsCount" class="comment-count">Have no comments now</span>
                <span>&centerdot;</span>
                <span id="usersCount" class="user-count">1 online</span>
            </div>
        </div>
    </header>
    <main>
        <div id="commentForm"></div>
        <div id="commentWrapper"></div>
    </main>
    <footer>
        <p>Created by Danil Wittmann. Follow me at github: <a href="https://github.com/WittmannD">github.com/WittmannD</a></p>
    </footer>
</body>
<script src="../public/bundle.js"></script>
</html>