@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

* {
    margin: unset;
    padding: unset;
    color: unset;
    background: unset;
    border: unset;
    box-sizing: border-box;
}

html {
    font-family: "Roboto","Open Sans", Helvetica, Arial, sans-serif;
    color: #171717;
}

a {
    color: inherit;
}

body {    
    background: url('../img/bg.png') gainsboro;
    position: relative;
}

body::after {
    content: "";
    background: url(../img/header-pattern.png) fixed;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.header-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 40px;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.header-content h1.title {
    font-size: 32px;
    font-family: serif;
    font-weight: normal;
    color: gainsboro;
    background: #545454;
    padding: 2px 15px;
}

.header-content h1.title a {
    text-decoration: none;
}

.header-content .info {
    color: gainsboro;
    background: #545454;
    padding: 2px 5px;
    font-size: 14px;
}

.header-content .info span {
    margin: 5px;
}

main {
    min-height: 100vh;
    padding: 20px 0;
    background: url('../img/bg.png') gainsboro;
}

#commentForm,
#commentWrapper,
#commentPage {
    max-width: 1000px;
    margin: 0 auto;
}

div.comment, 
div.comment-content {
    padding-left: 30px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: inset 1px 0 0 rgba(255,255,255,0.2);
}

div.comment-content {
    padding-right: 30px;
}

.comment-form {
    background: rgba(0,0,0,0.08);
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 5px 35px;
}

.comment-form > div[contenteditable] {
    padding: 3px 5px;
    margin: 5px 0;
    border: 1px solid #b7b7b7;
    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
    font-size: 14px;
}

.comment-form > div[contenteditable].invalid {
    outline-color: maroon;
}

.comment-form > div[contenteditable="false"] {
    background: #e9e9e9;
}

.comment-form .form-author {
    width: 220px;
}

.comment-form .form-message {
    min-width: 200px;
    /*white-space: pre-line;*/
}

.comment-form button {
    padding: 2px 5px;
    border: 1px solid #b7b7b7;
    box-shadow: 1px 1px 0px rgba(0, 0, 0, 0.1);
    background: #f9f9f9;
    color: rgb(50, 50, 50);
    border-radius: 3px;
    margin-right: 5px;
    font-size: 14px;
}

.comment {
    /* margin: 30px 0; */
    background: rgba(0,0,0,0.04);
}

.comment p {
    margin: 14px 0;
}

.comment-content {
    font-size: 14px;
    padding: 20px 0;
    position: relative;
    animation: show 0.4s ease;
}

.comment-content .comment-header {
    align-items: baseline;
    display: flex;
    flex-direction: row;
    font-size: 13px;
    /* text-align: right; */
}

.comment-content .comment-header .author {
    font-weight: bold;
    margin: 0 15px 0 0;
}

.comment-content .comment-header .created-at {
    color: #525252;
}

.comment-content .comment-header .link-set {
    margin-left: auto;
}

.comment-content .comment-header .link-set a {
    margin: 5px;
}

.comment-content .comment-header .link-set a.comment-anchor {
    color: #525252;
}

.comment-content .message {
    white-space: pre-line;
    margin: 14px 0;
    overflow-wrap: break-word;
}

.comment-content .comment-footer {
    font-size: 14px;
    color: maroon;
}

.comment a.delete,
.comment a.edit {
    color: maroon;
}

.comment-content:before {
    content: "";
    display: block;
    position: absolute;
    top: 28px;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
    width: 16px;
    height: 1px;
    box-shadow: 0 -1px 0 rgba(255,255,255,0.2);
}

.error-message {
    background: rgba(128, 0, 0, 0.3);
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding: 5px;
}

.error-message p {
    font-family: 'Consolas', monospace;
    font-size: 1.5em;
}

.error-message span.close-button {
    font-family: 'Consolas', monospace;
    padding: 0 20px;
    font-size: 0.95em;
    cursor: pointer;
}

footer {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer p {
    background: #545454;
    color: gainsboro;
    padding: 2px 5px;
    font-size: 0.9em;
}

@media screen and (max-width: 600px) {
  div.header-content {
    flex-direction: column;
    height: auto;
  }
  div.header-content .title {
    font-size: 28px;
  }
}

@media screen and (max-width: 600px) {
  div.comment {
    padding-left: 5px !important;
  }
}

@keyframes show {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
